@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.auth-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #ecf0f3;
    color: #a0a5a8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark Mode Styles */
.dark .auth-page-wrapper {
    background-color: #0a0a0a;
    color: #9ca3af;
}

